<h1>React Components</h1>

<p>This page provides demonstrations of the React components available in Archelon.</p>

<%= form_with do %>
  <h2>PlainLiteral</h2>

  <div class="form-group">
    <%= react_component("PlainLiteral", { param_prefix: 'plain_literal', name: 'title', value: "Lorem ipsum", language: "en"}) %>
  </div>

  <h2>TypedLiteral</h2>

  <div class="form-group">
    <%= react_component("TypedLiteral", { param_prefix: 'typed_literal', name: 'title', value: "2020-06-23", datatype: "http://id.loc.gov/datatypes/edtf"}) %>
  </div>

  <h2>Repeatable</h2>

  <h3>PlainLiteral</h3>

  <div>The following example is limited to 5 entries:<div>

  <div class="form-group">
    <%= react_component(
          "RepeatablePlainLiteral", {
            maxValues: 5,
            param_prefix: "repeatable_plain_literal",
            name: 'title',
            values: [
              {value: 'First Line', language: 'en'},
              {value: '二行目', language: 'ja'},
              {value: 'Third Line', language: 'en'}]
          }
        )
    %>
  </div>

  <h3>TypedLiteral</h3>

  <div>The following example has unlimited entries:</div>

  <div class="form-group">
    <%= react_component(
          "RepeatableTypedLiteral", {
            param_prefix: "repeatable_typed_literal",
            defaultValue: { value: '', datatype: 'http://id.loc.gov/datatypes/edtf' },
            name: 'title',
            values: [
              {value: '2020-06-23', datatype: 'http://id.loc.gov/datatypes/edtf'},
              {value: '1856-03-06', datatype: 'http://www.w3.org/2001/XMLSchema#date'}
            ]
          }
        )
    %>
  </div>

  <div class="form-group">
    <input type="submit" name="submit" value="Submit" class="btn btn-primary form-control" />
  </div>
<% end %>

