<%= render(@layout.new(facet_field: @facet_field)) do |component| %>
  <% component.with_label do %>
    <%= @facet_field.label %>
  <% end %>
  <% component.with_body do %>
    <div style="display: flex; align-items: center; gap: 10px;">
      <% if !@facet_field.in_modal? %>
        <input style="flex: 1; min-width: 0;" type="text" id="input-<%= @uuid %>" class="filter" placeholder="<%= @facet_field.label %>..." onkeyup="filterFacets('<%= @uuid %>')"/>

        <%# backwards compatibility, ugh %>
        <%= link_to t("more_#{@facet_field.key}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: @facet_field.label),
          "/catalog/facet/#{@facet_field.key}",
          data: { blacklight_modal: 'trigger' },
          style: 'text-align: center; margin-bottom: 0.5em;' %>
      <% end %>
    </div>

    <%= helpers.render(Blacklight::FacetFieldInclusiveConstraintComponent.new(facet_field: @facet_field)) %>

    <ul class="facet-values list-unstyled with-filter" id="list-<%= @uuid %>">
      <%= render facet_items %>
    </ul>
  <% end %>
<% end %>
