<%= form_for(@cas_user) do |f| %>
  <% if @cas_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cas_user.errors.count, "error") %> prohibited this cas_user from being saved:</h2>

      <ul>
      <% @cas_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cas_directory_id %><br>
    <%= f.text_field :cas_directory_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
