<%= form_for(@cas_user) do |f| %>
  <%= render partial: "shared/error_messages", locals: {object: @cas_user} %>

    <%= f.label :cas_directory_id, 'Directory ID' %><br>
    <%= f.text_field :cas_directory_id, class: 'form-control' %>

    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>

    <div class="form-check">
    <%= f.label :admin, class: "form-check-label" do %>
      Admin
      <%= f.check_box :admin, class: 'form-check-input' %>
    <% end %>
    </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-success' %>
    <%= link_to 'Cancel', (@cas_user.new_record? ? cas_users_path : cas_user_path(@cas_user)), class: 'btn btn-danger' %>
  </div>
<% end %>
