<h1>Users</h1>

<form method="get" id="inactive_button">
    <label><input type="checkbox" name="show_inactive" value="true" onchange="document.getElementById('inactive_button').submit()" <% if @show_inactive %>checked<% end %> /> Show inactive users</label>
</form>

<div class="umd-table">
    <table class="table">
        <thead>
            <tr>
                <th>Directory ID</th>
                <th>Name</th>
                <th>Groups</th>
                <th>Type</th>
                <th>Active?</th>
                <th colspan="2"></th>
            </tr>
        </thead>

        <tbody>
            <% @cas_users.each do |cas_user| %>
            <% if cas_user.active? || @show_inactive %>
            <tr>
                <td><%= link_to cas_user.cas_directory_id, cas_user %></td>
                <td><%= cas_user.name %></td>
                <td><%= cas_user.groups.map(&:name).sort.join(', ') %></td>
                <td><%= cas_user.user_type %></td>
                <td><%= cas_user.active? %></td>
                <td>
                  <% if current_cas_user != cas_user && can?(:manage, cas_user) %>
                    <% if cas_user.active? %>
                    <%= button_to 'Deactivate',
                        cas_user_active_state_path(cas_user.id),
                        params: {active: false, show_inactive: @show_inactive}, class: 'btn btn-danger', form: {data: {turbo: false}} %>
                    <% else %>
                    <%= button_to 'Activate',
                        cas_user_active_state_path(cas_user.id),
                        params: {active: true, show_inactive: @show_inactive}, class: 'btn btn-success', form: {data: {turbo: false}} %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                    <% if can_login_as?(cas_user) %>
                    <%= link_to 'Sign In As', admin_user_login_as_path(cas_user.id) %>
                    <% end %>
                </td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</div>
