<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Directory ID</th>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cas_users.each do |cas_user| %>
      <tr>
        <td><%= cas_user.cas_directory_id %></td>
        <td><%= cas_user.name %></td>
        <td><%= cas_user.user_type %></td>
        <td><%= link_to 'Show', cas_user %></td>
        <td><%= link_to 'Destroy', cas_user, method: :delete, data: { confirm: 'Please remove Archelon Grouper roles of the user to ensure access is restricted. Confirm delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
