<p id="notice"><%= notice %></p>

<p>
  <strong>Directory ID:</strong>
  <%= @cas_user.cas_directory_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cas_user.name %>
</p>

<% if current_cas_user.admin? %>

<p>
  <strong>Type:</strong>
  <%= @cas_user.user_type %>
</p>
<% end %>

<div class="actions">
  <%= link_to 'List Users', cas_users_path, class: 'btn btn-default' %>
</div>
