<%= form_with(model: type, local: true) do |form| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <div class="form-group">
      <%= form.label :identifier %>
      <%= form.text_field :identifier, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :vocabulary_id %>
      <%= form.collection_select :vocabulary_id, Vocabulary.all, :id, :identifier, {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="actions" style="margin: 10px 0px;">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
