<h1><%= ActiveSupport::Inflector.pluralize(t 'activerecord.models.type') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.type.identifier' %></th>
      <th><%= t 'activerecord.attributes.type.vocabulary' %></th>
      <th><%= t 'activerecord.attributes.type.uri' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= link_to type.identifier, type %></td>
        <td><%= link_to type.vocabulary.identifier, type.vocabulary %></td>
        <td><%= link_to type.uri, type.uri %></td>
        <td><%= link_to_edit type %></td>
        <td><%= link_to_delete type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Type %>
  <div>
    <%= link_to "New #{t 'activerecord.models.type'}", new_type_path, class: 'btn btn-success' %>
  </div>
<% end %>
