<h1><%= t 'activerecord.models.type' %>: <%= @type.identifier %></h1>

<div>
  <%= label :type, :uri %>
  <%= link_to @type.uri, @type.uri %>
</div>
<div>
  <%= label :type, :vocabulary_id %>
  <%= link_to @type.vocabulary.identifier, @type.vocabulary %>
</div>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
