<h1><%= t 'activerecord.models.type' %>: <%= @type.identifier %></h1>

<div>
  <%= label :type, :uri %>
  <%= link_to @type.uri, @type.uri %>
</div>
<div>
  <%= label :type, :vocabulary_id %>
  <%= link_to @type.vocabulary.identifier, @type.vocabulary %>
</div>

<% if can? :edit, @type %>
  <%= link_to 'Edit', edit_type_path(@type), class: 'btn btn-success' %>
<% end %>

<div>
  <%= link_to "All #{ActiveSupport::Inflector.pluralize(t('activerecord.models.type'))}", types_path %>
</div>
