<%= form_with(model: individual, local: true) do |form| %>
  <% if individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% individual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <div class="form-group">
      <%= form.label :label %>
      <%= form.text_field :label, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :vocabulary_id %>
      <%= form.collection_select :vocabulary_id, Vocabulary.all.by_identifier, :id, :identifier, {}, { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= form.label :identifier, class: "umd_tooltip" do %>
        <%= t("activerecord.attributes.individual.identifier") %>
        <span class="umd_tooltiptext"><%= t("tooltips.identifier") %></span>
      <% end %>
      <%= form.text_field :identifier, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :same_as, class: "umd_tooltip" do %>
        <%= t("activerecord.attributes.individual.same_as") %>
        <span class="umd_tooltiptext"><%= t("tooltips.same_as") %></span>
      <% end %>
      <%= form.text_field :same_as, class: "form-control" %>
    </div>
  </div>

  <div class="actions" style="margin: 10px 0px;">
    <div class="form-group">
      <%= form.submit class: "btn btn-success" %>
    </div>
  </div>

<% end %>
