<%= form_with(model: individual, local: true) do |form| %>
  <% if individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% individual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :vocabulary_id %>
  <%= form.collection_select :vocabulary_id, Vocabulary.all, :id, :name %>
  <%= form.label :label %>
  <%= form.text_field :label %>
  <%= form.label :same_as %>
  <%= form.text_field :same_as %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
