<h1>Edit <%= t 'activerecord.models.individual' %>: <%= @individual.identifier %></h1>

<%= render 'form', individual: @individual %>

<%= link_to 'Show', @individual %> |
<%= link_to 'Back', individuals_path %>
