<h1><%= ActiveSupport::Inflector.pluralize(t('activerecord.models.individual')) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.individual.label' %></th>
      <th><%= t 'activerecord.attributes.individual.vocabulary' %></th>
      <th><%= t 'activerecord.attributes.individual.identifier' %></th>
      <th><%= t 'activerecord.attributes.individual.same_as' %></th>
      <th><%= t 'activerecord.attributes.individual.uri' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @individuals.each do |individual| %>
      <tr>
        <td><%= link_to individual.label, individual %></td>
        <td><%= link_to individual.vocabulary.identifier, individual.vocabulary %></td>
        <td><%= link_to individual.identifier, individual %></td>
        <td><%= link_to individual.same_as, individual.same_as unless individual.same_as.blank? %></td>
        <td><%= link_to individual.uri, individual.uri %></td>
        <td><%= link_to 'Edit', edit_individual_path(individual), class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to 'Delete', individual, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New #{t 'activerecord.models.individual'}", new_individual_path, class: 'btn btn-success' %>
