<p id="notice"><%= notice %></p>

<h1>Download Urls</h1>

<%= will_paginate @download_urls, renderer: BootstrapPagination::Rails %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th><%= sort_link(@q, :created_at, 'Created') %></th>
      <th>Expires</th>
      <th>Accessed</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @download_urls.each do |download_url| %>
      <tr>
        <td><%= download_url.title %></td>
        <td><%= download_url.creator %></td>
        <td><%= download_url.created_at %></td>
        <td><%= download_url.expires_at %></td>
        <td><%= download_url.accessed_at %></td>
        <td><%= download_url.enabled %></td>
        <td><%= link_to 'Show', download_url %></td>
        <td><%= link_to 'Edit', edit_download_url_path(download_url) %></td>
        <td><%= link_to 'Destroy', download_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @download_urls, renderer: BootstrapPagination::Rails %>

