<h1>Export Queue</h1>

<% if @jobs.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>User</th>
        <th>Timestamp</th>
        <th># of Records</th>
        <th>Format</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
        <%
          format_label = ExportJob::FORMATS[job.format] || job.format
        %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.name %></td>
        <td><%= job.cas_user&.name%></td>
        <td><%= job.timestamp %></td>
        <td><%= job.item_count %></td>
        <td><span title="<%= job.format %>"><%= format_label %></span></td>
        <td class="export_job_status_<%= job.plastron_operation.status %>">
          <%= PlastronOperation.statuses[job.plastron_operation.status] %>
          <% unless job.plastron_operation.pending? || job.plastron_operation.done? %>
            (<%= job.plastron_operation.progress %>%)
          <% end %>
        </td>
        <td>
          <% if job.plastron_operation.done? && job.download_url %>
            <%= link_to 'Download', download_export_jobs_url(job), data: { turbolinks: false } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Export jobs found</p>
<% end %>
