<h1>Export Queue</h1>

<% if @jobs.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>User</th>
        <th>Timestamp</th>
        <th># of Records</th>
        <th>Format</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
        <%
          status = job.status
          status_css_code = "export_job_status_#{status.parameterize(separator: "_")}"
          format_label = ExportJob::FORMATS[job.format] || job.format
        %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.name %></td>
        <td><%= job.cas_user&.name%></td>
        <td><%= job.timestamp %></td>
        <td><%= job.item_count %></td>
        <td><span title="<%= job.format %>"><%= format_label %></span></td>
        <td class="<%= status_css_code %>"><%= status %></td>
        <td><%# Placeholder for download link%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Export jobs found</p>
<% end %>
