<h1> Export Job </h1>
<%= form_for(@job, url: { action: :review }, method: :get) do |f| %>
  <div class="card">
    <div class="card-header">
      <strong> Options </strong>
    </div>

    <div class="card-body">
      <div>
        <strong> <%= f.label :format %> </strong>

        <% ExportJob::FORMATS.each do |type, label| %>
          <div>
            <%= f.radio_button :format, type, class: "form-check-input" %>
            <%= f.label :format, label, value: type, class: "form-check-label font-weight-normal" %>
          </div>
        <% end %>
      </div>

      <div style="padding-top: 10px;">
        <strong> <%= f.label :name%> </strong>
        <%= f.text_field :name, size: 40, class: "form-control" %>
      </div>

      <div style="padding-top: 10px;">
        <% if @mime_types.empty? %>
          <p>
            <strong> No binaries available for the selected items </strong>
          </p>
        <% else %>
          <p>
            <strong> Select any of the following to include binaries in the export: </strong>
          </p>

          <% @mime_types.each do |mime_type| %>
            <% selected = @job.selected_mime_types.include?(mime_type) ? true : false %>
            <%= check_box_tag('export_job[mime_types][]', mime_type, selected, id: "export_job_#{mime_type}", style: "margin-left: 20px") %>

            <label for="export_job_<%= mime_type %>">
              <%= t("mime_types.#{mime_type}") %>
            </label>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div style="padding-top: 10px;">
    <%= f.submit "Back", disabled: true, class: 'btn btn-danger' %>
    <%= f.submit "Cancel", class: 'btn btn-danger' %>
    <%= f.submit "Next", class: 'btn btn-primary' %>
  </div>

<% end %>

