<h1>Export Job Options</h1>
<%= form_for(@job) do |f| %>
  <%= f.hidden_field :name, value: @job.name %>
  <%= f.hidden_field :format, value: @job.format %>
  <%= f.hidden_field :item_count, value: @job.item_count %>
  <%= f.hidden_field :export_binaries, value: @job.export_binaries %>
  <%= f.hidden_field :binaries_size, value: @job.binaries_size %>
  <%= f.hidden_field :binaries_count, value: @job.binaries_count %>

  <%= render 'summary', export_job: @job %>
  <div>
    <%= link_to "Back", url_for(action: :new, params:
      {
        export_job: {
          name: @job.name,
          format: @job.format,
          export_binaries: @job.export_binaries
        }
      }
    ), class: 'btn btn-danger' %>
    <%= f.submit "Cancel", class: 'btn btn-danger' %>
    <%= f.submit "Submit Job", class: 'btn btn-primary' %>
  </div>
<% end %>
