<h1> Export Job </h1>

<div class="card">
  <div class="card-header">
    <strong> Job Info: <%= @job.name %> </strong>
  </div>

  <div class="card-body">
    <p>
      <strong> Job ID: </strong>
      <%= @job.id %>
    </p>

    <p>
      <strong> Status: </strong>
      <%= @job.status_text %>
    </p>

    <p>
      <strong># of Records: </strong>
      <%=   @job.item_count %>
    </p>

    <p>
      <strong> # of Binaries: </strong>
      <%= @job.binaries_count == nil ? "n/a" : @job.binaries_count %>
    </p>

    <p>
      <strong> Size of Binaries: </strong>
      <%= @job.binaries_size == nil ? "n/a" : number_to_human_size(@job.binaries_size) %>
    </p>

    <p>
      <strong> User: </strong>
      <%= @cas_user.name %>
    </p>
  </div>
</div>

<div style="padding-top: 10px;">
  <%= link_to "Back", export_jobs_path, class: "btn btn-primary"%>
  <%= button_to "Delete Job", export_job_url(@job), method: :delete, class:"btn btn-danger", data: { confirm: 'Delete job?' } %>
</div>

<style>
  .button_to {
    display: inline;
  }

  .button_to div {
    display: inline;
  }
</style>
