<nav id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
      <button class="navbar-toggle btn collapsed" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a href="http://www.lib.umd.edu/"><%= image_tag 'blacklight/logo.png', alt: 'UMD Libraries' %></a>
        <span class="navbar-brand-um">
          <%= link_to application_name, root_path %>
        </span>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <div class="navbar-right">
        <%= render partial: '/user_util_links' %>
      </div>
    </div>
  </div>
</nav>

<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
