<ul class="navbar-nav">
  <!-- UMD Customization -->
  <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Help', help_path, class: 'nav-link' %></li>
  <!-- End UMD Customization -->

  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>

  <!-- UMD Customization -->
  <li>
    <%= link_to current_cas_user.name, '/cas_users/' + current_cas_user.id.to_s, { class: "nav-link" } %>
  </li>
  <li>
    <%= link_to t('blacklight.header_links.logout'), logout_path, { class: "nav-link" } %>
  </li>
  <% if impersonating? %>
    <li>
      <%= link_to 'Back to "' + impersonating_admin.name + '"', admin_user_login_as_path(impersonating_admin_id), { class: "nav-link" } %>
    </li>
  <% end %>
  <!-- End UMD Customization -->
</ul>
