  <% if @errors && @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this record from being updated:</h2>

      <ul>
        <% @errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(local: true) do %>
  <% if @simulate.present? %><input type="hidden" name="simulate" value="1"/><% end %>

  <% unless @content_model[:required].empty? %>
    <h2>Required Fields</h2>
    <%= render 'metadata_edit_components', fields: @content_model[:required], items: @items, uri: @id %>
  <% end %>

  <% unless @content_model[:recommended].empty? %>
    <h2>Recommended Fields</h2>
    <%= render 'metadata_edit_components', fields: @content_model[:recommended], items: @items, uri: @id %>
  <% end %>

  <% unless @content_model[:optional].empty? %>
    <h2>Optional Fields</h2>
    <%= render 'metadata_edit_components', fields: @content_model[:optional], items: @items, uri: @id %>
  <% end %>

  <div class="form-group">
    <input type="submit" name="submit" value="Submit" class="btn btn-primary form-control" />
  </div>
<% end %>
