<%= form_with(model: import_job, local: true) do |form| %>
  <% if import_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(import_job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% import_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div>
      <%= form.label :name, class: "col-form-label-lg" %>
    </div>
    <div class="p-3 ml-5">
      <%= form.text_field :name, size: 40, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= form.label :model, class: "col-form-label-lg" %>
    </div>
    <div class="p-3 ml-5">
      <%= form.select :model, options_for_select(%w(Item Issue Letter Poster), selected: import_job.model) %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= form.label :access, class: "col-form-label-lg" %>
    </div>
    <div class="p-3 ml-5">
      <% if ImportJob.access_vocab.nil? %>
        <i>Access vocabulary is not configured.</i>
      <% else %>
        <%=  form.select :access, options_for_select(ImportJob.access_vocab.types.map {|type| [ type.identifier, type.uri ]}, selected: import_job.access)  %>
      <% end %>
      This is the access level that will be applied to any newly created objects.
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= form.label :collection, class: "col-form-label-lg" %>
    </div>
    <div class="p-3 ml-5">
      <%= form.select :collection, options_for_select(@collections_options_array, selected: import_job.collection), prompt: true %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= form.label :file_to_upload, class: "col-form-label-lg" %>
    </div>
    <div class="p-3 ml-5">
      <%= form.file_field :file_to_upload, class: "form-control" %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Include Binaries?</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div>
          <%= form.label :binary_zip_file, 'Option 1: Upload binary files from my desktop computer', class: "col-form-label-lg" %>
        </div>
        <div class="p-3 ml-5">
          <%= form.file_field :binary_zip_file, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Cancel", class: 'btn btn-danger form-control' %>
    <%= form.submit "Next", class: 'btn btn-primary form-control' %>
  </div>
<% end %>
