<% unless import_job_info.error_occurred? %>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">
          Completed <span class="badge"><%= import_job_info.completed.count %></span>
        </a>
      </li>
      <li role="presentation">
        <a href="#dropped" aria-controls="dropped" role="tab" data-toggle="tab">
          Dropped <span class="badge"><%= import_job_info.failed.count %></span>
        </a>
      </li>
      <li role="presentation">
        <a href="#invalid" aria-controls="invalid" role="tab" data-toggle="tab">
          Invalid <span class="badge"><%= import_job_info.invalid.count %></span>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="completed">
        <%= render "import_jobs/import_job_info_panel/completed",
           import_job_info: @import_job_info
        %>
      </div>

      <div role="tabpanel" class="tab-pane" id="dropped">
        <%= render "import_jobs/import_job_info_panel/failed",
                   import_job_info: @import_job_info
        %>
      </div>
      <div role="tabpanel" class="tab-pane" id="invalid">
        <%= render "import_jobs/import_job_info_panel/invalid",
                   import_job_info: @import_job_info
        %>
      </div>
    </div>
  </div>

<% else %>
  <%= render "import_jobs/import_job_info_panel/error",
      import_job_info: @import_job_info
  %>
<% end %>
