<p id="notice"><%= notice %></p>

<h1>Import Jobs</h1>

<% if @import_jobs.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>User</th>
        <th>Timestamp</th>
        <th>Uploaded File</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @import_jobs.each do |import_job| %>
        <tr>
          <td><%= import_job.id %></td>
          <td><%= import_job.name %></td>
          <td><%= import_job.cas_user&.name%></td>
          <td><%= import_job.timestamp %></td>
          <td><%= import_job.file_to_upload.filename %></td>
          <td class="plastron_operation_status_<%= import_job.status %>">
            <%= import_job.status %>
            <% if import_job.status.nil? %>
              (<%= import_job.plastron_operation.progress %>%)
            <% end %>
          </td>
          <% if !import_job.workflow_url.nil? %>
            <td><%= link_to import_job.workflow_action, import_job.workflow_url %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% else %>
  <p>No Import jobs found</p>
<% end %>

<%= link_to 'New Import Job', new_import_job_path %>
