<p id="notice"><%= notice %></p>

<h1>Metadata Import</h1>

<% if @import_jobs.count > 0 %>
  <div class="row">
    <div class="btn-toolbar">
      <div class="col-md-6">
          <div class="btn-group"><%= will_paginate @download_urls, renderer: BootstrapPagination::Rails %></div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>User</th>
        <th>Timestamp</th>
        <th>Uploaded File</th>
        <th>Content Model</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @import_jobs.each do |import_job| %>
        <tr>
          <td><%= link_to import_job.id, import_job_path(import_job) %></td>
          <td><%= import_job.name %></td>
          <td><%= import_job.cas_user&.name%></td>
          <td><%= import_job.timestamp %></td>
          <td><%= import_job.file_to_upload.filename %></td>
          <td><%= import_job.model %></td>
          <%= render partial: 'import_job_status', locals: { import_job: import_job } %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @download_urls, renderer: BootstrapPagination::Rails %>
  <br>
<% else %>
  <p>No Import jobs found</p>
<% end %>

<%= link_to 'New Import Job', new_import_job_path, class: 'btn btn-success' %>
