<p id="notice"><%= notice %></p>

<p>
  <strong>Job ID:</strong>
  <%= @import_job.id %>
</p>

<p>
  <strong>Job Name:</strong>
  <%= @import_job.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @import_job.cas_user&.name %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @import_job.timestamp %>
</p>

<p>
  <strong>File to upload:</strong>
  <%= @import_job.file_to_upload.filename %>
</p>

<p>
  <strong>Status:</strong>
  <%= PlastronOperation.statuses[@import_job.plastron_operation.status] %>
</p>

<p>
  <strong>Validation Results</strong>
  <p>Valid? <%= @valid %></p>
  <p>Total records <%= @num_total %></p>
  <p>Valid records <%= @num_valid %></p>
  <p>Invalid records <%= @num_invalid %></p>
  <p>Error records <%= @num_error %></p>
  <% if @invalid_line_descriptions.any? %>
    <ul>
    <% @invalid_line_descriptions.each do |desc| %>
      <li><%= desc %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_import_job_path(@import_job) %> |
<%= link_to 'Back', import_jobs_path %>
