<p id="notice"><%= notice %></p>

<%= render partial: "import_job_info_panel", locals: {import_job: @import_job} %>

<p>
  <strong>Status:</strong>
  <%= PlastronOperation.statuses[@import_job.plastron_operation.status] %>
</p>

<%= render partial: "import_job_validation_panel", locals: {import_job: @import_job} %>

<%= link_to 'Edit', edit_import_job_path(@import_job) %> |
<%= link_to 'Back', import_jobs_path %>
