<p id="notice"><%= notice %></p>

<h1>Metadata Import Job</h1>

<%= render partial: "import_job_info_panel", locals: {import_job: @import_job} %>

<%= render partial: "import_job_validation_panel", locals: {import_job: @import_job,
                                                            import_job_response: @import_job_response } %>

<%= link_to 'Back', import_jobs_path, class: 'btn btn-danger' %>

<% if @import_job.workflow_action == :resubmit %>
  <%= link_to 'Resubmit', edit_import_job_path(@import_job), class: 'btn btn-danger' %>
<% elsif @import_job.workflow_action == :import %>
  <%= link_to 'Import', perform_import_import_jobs_path(@import_job), method: :post, class: 'btn btn-success' %>
<% end %>
