<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.import_job') %>: <%= @import_job.name %></h1>

<%= render "import_job_panel", import_job: @import_job %>

<%= render "import_job_info_panel",
           import_job_info: @import_job_info
%>

<%= link_to 'Back', import_jobs_path, class: 'btn btn-danger' %>
