<p id="notice"><%= notice %></p>

<h1>Metadata Import Job</h1>

<%= render partial: "import_job_info_panel", locals: {import_job: @import_job} %>

<p>
  <strong>Status:</strong>
  <%= PlastronOperation.statuses[@import_job.plastron_operation.status] %>
</p>

<%= render partial: "import_job_validation_panel", locals: {import_job_response: @import_job_response,
                                                            panel_title: 'Import Results'} %>

<%= link_to 'Back', import_jobs_path %>
