<% doc_presenter = show_presenter(@document) %>
<% if @document[:rdf_type].include? 'fedora:Binary' %>
  <div class="panel panel-default">
    <div class="panel-heading">Download or Generate Link</div>
    <div class="panel-body">
      <ul class="nav">
        <li><%= link_to 'Download', @document.id, target: '_blank' %></li>
        <li><%= generate_download_url_link(@document) %></li>
      </ul>
    </div>
  </div>
<% end %>

<% pages = doc_presenter.field_value('pcdm_members').select{|member| member['component'] == 'Page'} %>
<% unless pages.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">Select Page for More Options</div>
    <div class="panel-body">
      <ul class="nav">
        <% pages.each do |v| %>
          <li><%= link_to "Page #{v['page_number']}", solr_document_path(v['id']) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% files = doc_presenter.field_value('pcdm_files') %>
<% unless files.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">Select File for Download Options</div>
    <div class="panel-body">
      <ul class="nav">
        <% files.each do |v| %>
          <li><%= link_to v['display_title'], solr_document_path(v['id']) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">Administrative</div>
  <div class="panel-body">
    <ul class="nav">
      <li><%= view_in_fedora_link(@document) %></li>
    </ul>
  </div>
</div>

<% unless @document.more_like_this.empty? %>
  <div class="card">
    <div class="card-header">More Like This</div>
    <div class="card-block">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>
