<% presenter = document_presenter(document) %>
<%= render presenter.view_config.sidebar_component.new(presenter: presenter) %>

<%# UMD Customization %>
<% if @document[:rdf_type].include? 'fedora:Binary' %>
  <div class="panel panel-default">
    <div class="panel-heading">Download or Generate Link</div>
    <div class="panel-body">
      <ul class="nav">
        <li><%= link_to 'Download', @document.id, target: '_blank' %></li>
        <li><%= generate_download_url_link(@document) %></li>
      </ul>
    </div>
  </div>
<% end %>

<% pcdm_member_field_value = presenter.field_value(presenter.configuration.show_fields['pcdm_members']) %>
<% pages = pcdm_member_field_value
  .select{|member| member['component'] == 'Page'}
  .sort{|a,b| a['page_number'] <=> b['page_number'] } %>
<% unless pages.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">Select Page for More Options</div>
    <div class="panel-body">
      <ul class="nav">
        <% pages.first(8).each do |v| %>
          <li><%= link_to v['display_title'], solr_document_path(v['id']) %></li>
        <% end %>
        <% if pages.length > 8 %>
          <li><a href="#pages" data-toggle="modal">more »</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if pages.length > 8 %>
    <div class="modal" id="pages" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select Page for More Options</h4>
          </div>
          <div class="modal-body">
            <ul class="nav">
              <% pages.each do |v| %>
                <li><%= link_to "Page #{v['page_number']}", solr_document_path(v['id']) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% files = presenter.field_value(presenter.configuration.show_fields['pcdm_files']) %>
<% unless files.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">Select File for Download Options</div>
    <div class="panel-body">
      <ul class="nav">
        <% files.each do |v| %>
          <li><%= link_to(v['display_title'].present? ? v['display_title'] : v['id'], solr_document_path(v['id'])) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%# End UMD Customization %>