<% if mirador_displayable?(document) %>
  <div class="skip-link">
    <a href="#metadata">Go to Metadata</a>
    <% if @show_edit_metadata %>
      &nbsp;
      <a href="<%= resource_edit_url(id: @document.id) %>">Edit Metadata</a>
    <% end %>

    <%= form_with url: update_resource_url(@document.id), method: :post, data: {remote: false}, class: 'publish-controls' do |form| %>
      <% if @published %>
        <%= form.submit "Unpublish", name: 'command', class: 'btn btn-primary' %>
      <% else %>
        <%= form.submit "Publish", name: 'command', class: 'btn btn-primary' %>
        <%= form.submit "Publish Hidden", name: 'command', class: 'btn btn-primary' %>
      <% end %>
    <% end %>

  </div>
  <div class="image-viewer intrinsic-container ratio-4x3">
    <iframe src="<%= mirador_viewer_url(document, @current_query) %>" allowfullscreen></iframe>
  </div>
<% end %>
