<%= form_with(model: vocabulary, local: true) do |form| %>
  <% if vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vocabulary.errors.count, "error") %> prohibited this vocabulary from being saved:</h2>

      <ul>
      <% vocabulary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <div class="form-group">
      <%= form.label :identifier, class: "umd_tooltip" do %>
        <%= t("activerecord.attributes.vocabulary.identifier") %>
        <span class="umd_tooltiptext"><%= t("tooltips.identifier") %></span>
      <% end %>
      <%= form.text_field :identifier, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="actions" style="margin: 10px 0px;">
    <div class="form-group">
      <%= form.submit class: "btn btn-success" %>
    </div>
  </div>

<% end %>
