<h1>Edit <%= t 'activerecord.models.vocabulary' %>: <%= @vocabulary.identifier %></h1>

<%= render 'form', vocabulary: @vocabulary %>

<%= link_to 'Show', @vocabulary %> |
<%= link_to 'Back', vocabularies_path %>
