<h1><%= ActiveSupport::Inflector.pluralize(t 'activerecord.models.vocabulary') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.vocabulary.identifier' %></th>
      <th><%= t 'activerecord.attributes.vocabulary.uri' %></th>
      <th><%= ActiveSupport::Inflector.pluralize(t('activerecord.models.type')) %></th>
      <th><%= ActiveSupport::Inflector.pluralize(t('activerecord.models.individual')) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabularies.each do |vocabulary| %>
      <tr>
        <td><%= link_to vocabulary.identifier, vocabulary %></td>
        <td><%= vocabulary.uri %></td>
        <td><%= vocabulary.types.count %></td>
        <td><%= vocabulary.individuals.count %></td>
        <td><%= link_to 'Edit', edit_vocabulary_path(vocabulary) %></td>
        <td><%= link_to 'Destroy', vocabulary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New #{t 'activerecord.models.vocabulary'}", new_vocabulary_path, class: 'btn btn-success' %>
</div>