<h1><%= ActiveSupport::Inflector.pluralize(t 'activerecord.models.vocabulary') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.vocabulary.identifier' %></th>
      <th><%= t 'activerecord.attributes.vocabulary.uri' %></th>
      <th><%= t 'activerecord.attributes.vocabulary.published_uri' %></th>
      <th><%= ActiveSupport::Inflector.pluralize(t('activerecord.models.individual')) %></th>
      <th><%= ActiveSupport::Inflector.pluralize(t('activerecord.models.type')) %></th>
      <th><%= ActiveSupport::Inflector.pluralize(t('activerecord.models.datatype')) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabularies.each do |vocabulary| %>
      <tr>
        <td><%= link_to vocabulary.identifier, vocabulary %></td>
        <td><%= vocabulary.uri %></td>
        <td><%= link_to vocabulary.published_uri, vocabulary.published_uri %></td>
        <td><%= vocabulary.individuals.count %></td>
        <td><%= vocabulary.types.count %></td>
        <td><%= vocabulary.datatypes.count %></td>
        <td><%= link_to_edit vocabulary %></td>
        <td><%= link_to_delete vocabulary %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Vocabulary %>
  <div>
    <%= link_to "New #{t 'activerecord.models.vocabulary'}", new_vocabulary_path, class: 'btn btn-success' %>
  </div>
<% end %>
