<h1><%= t 'activerecord.models.vocabulary' %>: <%= @vocabulary.identifier %></h1>
<div>
  <%= label :vocabulary, :uri %>
  <%= link_to @vocabulary.uri, {}, href: @vocabulary.uri %>
</div>
<div>
  <%= label :vocabulary, :identifier %>
  <%= @vocabulary.identifier %>
</div>
<div>
  <%= label :vocabulary, :description %>
  <%= @vocabulary.description %>
</div>
<%= link_to 'Edit', edit_vocabulary_path(@vocabulary), class: 'btn btn-success' %>

<h2>
  <%= ActiveSupport::Inflector.pluralize(t('activerecord.models.type')) %>
  <span class="badge badge-secondary"><%= @vocabulary.types.count %></span>
</h2>

<ul>
  <% @vocabulary.types.each do |type| %>
    <li><%= link_to type.identifier, type %></li>
  <% end %>
</ul>
<%= link_to "New #{t 'activerecord.models.type'}", new_type_path(vocabulary: @vocabulary), class: 'btn btn-sm btn-success' %>

<h2>
  <%= ActiveSupport::Inflector.pluralize(t('activerecord.models.individual')) %>
  <span class="badge badge-secondary"><%= @vocabulary.individuals.count %></span>
</h2>
<ul>
  <% @vocabulary.individuals.each do |individual| %>
    <li><%= link_to "#{individual.label} (#{individual.identifier})", individual %></li>
  <% end %>
</ul>
<%= link_to "New #{t 'activerecord.models.individual'}", new_individual_path(vocabulary: @vocabulary), class: 'btn btn-sm btn-success' %>

<div>
  <%= link_to "All #{ActiveSupport::Inflector.pluralize(t('activerecord.models.vocabulary'))}", vocabularies_path %>
</div>