<h1><%= t 'activerecord.models.vocabulary' %>: <%= @vocabulary.identifier %></h1>

<div>
  <%= label :vocabulary, :uri %>
  <%= link_to @vocabulary.uri, {}, href: @vocabulary.uri %>
</div>
<div>
  <%= label :vocabulary, :identifier %>
  <%= @vocabulary.identifier %>
</div>
<div>
  <%= label :vocabulary, :description %>
  <%= @vocabulary.description %>
</div>

<% if can? :edit, @vocabulary %>
  <%= link_to 'Edit', edit_vocabulary_path(@vocabulary), class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default panel-vocabulary">
      <div class="panel-heading">
        <div class="h2">
          <%= link_to individuals_path do %>
            <%= ActiveSupport::Inflector.pluralize(t('activerecord.models.individual')) %>
            <span class="badge badge-secondary"><%= @vocabulary.individuals.count %></span>
          <% end %>
          <% if can? :create, Individual %>
            <div class="pull-right">
              <%= link_to "New #{t 'activerecord.models.individual'}", new_individual_path(vocabulary: @vocabulary), class: 'btn btn-sm btn-success' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <% @vocabulary.individuals.each do |individual| %>
            <tr>
              <td class="col-xs-7"><%= link_to individual.label, individual %></td>
              <td class="col-xs-3"><%= individual.identifier %></td>
              <td class="col-xs-2" title="<%= t 'activerecord.attributes.individual.source' %>"><%= individual.source %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default panel-vocabulary">
      <div class="panel-heading">
        <div class="h2">
          <%= link_to types_path do %>
            <%= ActiveSupport::Inflector.pluralize(t('activerecord.models.type'))  %>
            <span class="badge badge-secondary"><%= @vocabulary.types.count %></span>
          <% end %>
          <% if can? :create, Type %>
            <div class="pull-right">
              <%= link_to "New #{t 'activerecord.models.type'}", new_type_path(vocabulary: @vocabulary), class: 'btn btn-sm btn-success' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel-body">
        <table class="table table-striped">
          <% @vocabulary.types.each do |type| %>
            <tr>
              <td>
                <%= link_to type.identifier, type %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="panel panel-default panel-vocabulary">
      <div class="panel-heading">
        <div class="h2">
          <%= link_to datatypes_path do %>
            <%= ActiveSupport::Inflector.pluralize(t('activerecord.models.datatype'))  %>
            <span class="badge badge-secondary"><%= @vocabulary.datatypes.count %></span>
          <% end %>
          <% if can? :create, Datatype %>
            <div class="pull-right">
              <%= link_to "New #{t 'activerecord.models.datatype'}", new_datatype_path(vocabulary: @vocabulary), class: 'btn btn-sm btn-success' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel-body">
        <table class="table table-striped">
          <% @vocabulary.datatypes.each do |datatype| %>
            <tr>
              <td>
                <%= link_to datatype.identifier, datatype %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "All #{ActiveSupport::Inflector.pluralize(t('activerecord.models.vocabulary'))}", vocabularies_path %>
</div>