<h1>Edit <%= t 'activerecord.models.datatype' %>: <%= @datatype.identifier %></h1>

<%= render 'form', datatype: @datatype %>

<%= link_to 'Show', @datatype %> |
<%= link_to 'Cancel', datatypes_path %>
