<h1><%= ActiveSupport::Inflector.pluralize(t 'activerecord.models.datatype') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.datatype.identifier' %></th>
      <th><%= t 'activerecord.attributes.datatype.vocabulary' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @datatypes.each do |datatype| %>
      <tr>
        <td><%= link_to datatype.identifier, datatype %></td>
        <td><%= link_to datatype.vocabulary.identifier, datatype.vocabulary %></td>
        <td><%= link_to_edit datatype %></td>
        <td><%= link_to_delete datatype %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Datatype %>
  <div>
    <%= link_to "New #{t 'activerecord.models.datatype'}", new_datatype_path, class: 'btn btn-success' %>
  </div>
<% end %>
