<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Help', help_path %></li>
    <li>
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% if current_cas_user.admin? %>
            <li><%= link_to 'Users', controller: 'cas_users', action: 'index' %></li>
          <% end %>
          <li><%= link_to 'Download URLs', controller: 'download_urls', action: 'index' %></li>
        </ul>
      </div>
    </li>
    <li>
      <%= link_to current_cas_user.name, '/cas_users/' + current_cas_user.id.to_s %>
    </li>
    <li>
      <%= link_to t('blacklight.header_links.logout'), logout_path %>
    </li>
    <% if impersonating? %>
      <li>
        <%= link_to 'Back to Admin', admin_user_login_as_path(impersonating_admin_id) %>
      </li>
    <% end %>
  </ul>
</div>
