<!DOCTYPE html>
<html>
<head>
  <title>FcrepoSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:mirador_headers) if @content_for_mirador_headers %>
</head>
<body>

<%= yield %>

</body>
</html>
